/*Cards*/
.cards-wrapper {
  display: flex;
  justify-content: center;        
  padding: 60px 20px; /* instead of min-height:100vh */
  margin-top: 100px;
}

.gct-cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 20px;
  max-width: 1200px;
  margin-top: 0; /* remove the 10% pushing it down */
  width: 100%;
}

.card {
  background: linear-gradient(135deg, #1E3A8A 0%, #2747a8 50%, #FFD700 100%);
  border-radius: 15px;
  padding: 20px;
  text-align: center;
  box-shadow: 0px 5px 15px rgba(0,0,0,0.15);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  color: #fff; 
  height: 350px; /* adjust px to your preference */
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.25);
}

.card h3 {
    padding-top: 5%;
  margin: 10px 0;
  font-size: 1.4rem;
  color: gold; 
}

.card p {
    margin-top: 20px;
  font-size: 0.95rem;
  margin-bottom: 20px;
  color: #f0f0f0;
  text-align: center;
  line-height: 1.3;
}

.btn {
  display: inline-block;
  padding: 10px 18px;
  background: rgba(0,0,0,0.5); 
  color: #fff;
  border-radius: 8px;
  text-decoration: none;
  font-weight: bold;
  transition: background 0.3s ease;
}

.card:hover {
  transform: translateY(-8px);
  box-shadow: 0px 10px 20px rgba(0,0,0,0.25);
}

.card img {
  width: 80px;
  height: 80px;
  margin-bottom: 15px;
}
.btn:hover {
  background: #243ddd;
} 